<p>I'm the admin.</p>

<p>Number of Studentpairs: <%= @studentpair_count %></p>
<%= link_to "Delete all Studentpairs", admins_studentpairs_delete_path, class: "btn btn-danger" %>
<%= link_to "Create Studentpairs", admins_studentpairs_create_path, class: "btn btn-primary" %>
</br>
<p></p>
