<p>Your Student ID: <%= @student.id %></p>
<p>Today's date: <%= @date %></p>

<p>Your pair for today is:
  <% if @partner.student1 == @student.id %>
  <%= @partner2_email %>
  <% else %>
  <%= @partner1_email %>
  <% end %>
</p>
