@import "bootstrap-sprockets";
@import "bootstrap";

.for_body {
  text-align: center;
}

.welcome {
  background-image: asset-url("people-woman-coffee-meeting");
  background-size: cover;
}

.main_title {
  background-color: #fff;
  padding: 20px;
}
